   * {
       margin: 0;
       padding: 0;
       font-family: 'Noto Sans TC', sans-serif;
   }
   .containerAll{
    max-width:1440px;
    margin:0 auto;
    background-image: linear-gradient(-45deg,#fffaf0,#c1d7f8);
    }
   
   .header {
       position: sticky;
       width: 100%;
       left: 0px;
       top: 0px;
       z-index: 5;
      
   }
   
   #logo.smallPanel img {
       position: relative;
       left: 0px;
       top: 0px;
       height: 140px;
       width: 150px;
       transition: all 2s;
   }
   
   .main-header {
       width: 100%;
       display: flex;
       
   }
   
   .logo {
       margin-left: 50px;
       width: 250px;
   }
   
   .logo img {
       width: 70%;
   }
   
   .name {
       width: 100%;
   }
   
   .main-nav {
       width: 70%;
       background-color: rgb(255, 255, 255);
       display: flex;
       justify-content: space-evenly;
       align-items: center;
   }
   
   .main-meun {
       font-size: 36px;
       /* box-shadow: 8px 8px 2px rgb(253 151 83 / 91%), -8px -8px 2px rgb(37 212 212 / 89%); */
       text-decoration: none;
       color: black;
   }
   
   .main-header {
       background-color: rgb(255, 255, 255);
       display: flex;
       justify-content: space-between;
       position: relative;
       align-items: center;
   }
   
   .logo img {
       vertical-align: top;
   }
   
   #menu-switch {
       display: none;
   }
   
   @media screen and (max-width:1399px) {
       .main-meun {
           font-size: 32px;
       }
       .header {
           margin-bottom: 40px;
       }
   }
   
   @media screen and (max-width:1199px) {
       .main-meun {
           font-size: 28px;
       }
   }
   
   @media screen and (max-width:991px) {
       .main-meun {
           font-size: 22px;
       }
   }
   
   @media screen and (max-width:767px) {
       .header {
           position: sticky;
           top: 0;
           z-index: 100;
           width: 100%;
       }
       .main-header {
           width: 100%;
       }
       .logo {
           margin: 20px;
           width: 150px;
       }
       .hb {
           width: 40px;
           height: 40px;
           background-color: rgb(253 151 83 / 91%);
           position: relative;
           margin-right: 30px;
       }
       .hb span {
           position: absolute;
           width: 36px;
           height: 2px;
           background-color: #fff;
           left: 0;
           right: 0;
           margin: auto;
       }
       .hb span:first-child {
           top: 11px;
       }
       .hb span:nth-child(2) {
           top: 0;
           bottom: 0;
       }
       .hb span:last-child {
           bottom: 11px;
       }
       .main-meun {
           box-shadow: none;
       }
       .main-nav {
           display: block;
           position: absolute;
           background-color: #fa0;
           top: 100%;
           left: -100%;
           width: 100%;
           height: 400px;
           opacity: 0;
           transition: opacity .5s, left 0s 0.5s;
       }
       #menu-switch:checked~.header .main-header .main-nav {
           left: 0;
           opacity: 1;
           transition: opacity .5s;
       }
       .main-nav a {
           display: block;
           padding: 10px;
           color: #fff;
           text-decoration: none;
       }
       #menu-switch {
           position: fixed;
           top: 0;
           /* left: -30px; */
           opacity: 0;
           z-index: -1;
       }
       #menu-switch:checked~.header .main-header .hb span:first-child {
           top: 19px;
           transform: rotate(405deg);
           transition: top .3s, transform .3s .3s;
       }
       #menu-switch:checked~.header .main-header .hb span:nth-child(2) {
           display: none;
       }
       #menu-switch:checked~.header .main-header .hb span:last-child {
           bottom: 19px;
           transform: rotate(675deg);
           transition: bottom .3s, transform .3s .3s;
       }
   }
   
   .main-meun a {
       text-decoration: none;
       color: black;
   }
   
   h1 {
       font-size: 44px;
       text-align: center;
       background-color: rgb(113, 227, 255);
   }
   
   @media screen and (max-width:575px) {
       h1 {
           font-size: 28px;
       }
   }
   
   .life {
       display: flex;
       width: 100%;
       background-color: rgb(255, 255, 255);
       justify-content: center;
   }
   
   .life-photo {
       display: flex;
       flex-wrap: wrap;
       margin: 60px;
       background-color: rgb(255, 255, 255);
   }
   
   .lesson img {
       width: 100%;
       margin: 20px;
       margin-left: 100px;
       border-radius: 5%;
   }
   
   .news {
       background-color: rgb(255, 255, 255);
       display: flex;
       justify-content: space-evenly;
       padding-top: 50px;
       padding-bottom: 50px;
   }
   
   .latest-events {
       text-align: center;
       border-radius: 5%;
       background-color: rgb(195, 231, 247);
       width: 600px;
       margin-right: 150px;
       font-size: 32px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
   }
   
   .latest-events i {
       color: #fa0;
   }
   
   @media screen and (max-width:1399px) {
       .life {
           display: none;
       }
   }
   
   .boss {
       width: 100%;
       display: flex;
       background-color: rgb(255, 255, 255);
       justify-content: space-evenly;
       position: relative;
   }
   
   .speech {
       width: 70%;
       background-color: rgb(195, 231, 247);
       display: flex;
       align-items: center;
       font-size: 24px;
       justify-content: center;
   }
   
   .boss_photo img {
       width: 300px;
       height: 500px;
   }
   
   .test {
       display: flex;
       align-items: center;
   }
   
   .countdown {
       display: flex;
       position: absolute;
       bottom: 0;
       right: 400px;
       text-align: center;
   }
   
   #clockdiv {
       font-family: sans-serif;
       color: #fff;
       font-weight: 100;
       text-align: center;
       font-size: 30px;
   }
   
   #clockdiv>div {
       padding: 10px;
       border-radius: 3px;
       background: #2c2cf2;
       display: inline-block;
   }
   
   #clockdiv div>span {
       padding: 15px;
       border-radius: 3px;
       background: #2b98eb;
       display: inline-block;
   }
   
   .smalltext {
       padding-top: 5px;
       font-size: 16px;
   }
   
   @media screen and (max-width:1199px) {
       .countdown {
           display: block;
           width: 100%;
       }
   }
   
   @media screen and (max-width:575px) {
       .test {
           width: 100%;
       }
       #clockdiv {
           display: flex;
       }
   }
   
   .junior,
   .senior,
   .senior2 {
       background-color: rgb(230, 227, 227);
       width: 80px;
       height: 40px;
       margin: 20px;
       padding: 20px;
       align-items: center;
       border-radius: 20%;
   }
   
   .junior i,
   .senior i,
   .senior2 i {
       font-size: 32px;
       font-weight: bolder;
       color: rgb(62, 175, 245)
   }
   
   @media screen and (max-width:1199px) {
       .boss_photo {
           width: 20%;
       }
       .boss_photo img {
           width: 100%;
           object-fit: cover;
       }
       .countdown {
           left: 20px;
       }
       .junior,
       .senior,
       .senior2 {
           width: 80px;
           height: 90px;
       }
       .junior i,
       .senior i,
       .senior2 i {
           font-size: 16px;
       }
   }
   
   @media screen and (max-width:575px) {
       .countdown {
           left: 10px;
           width: 3%;
       }
   }
   
   .owl-theme .item {
       height: 10rem;
       background: #f8fafa;
       padding: 1rem;
   }
   
   .owl-carousel .item h4 {
       color: #fff;
       font-weight: 400;
       font-size: 1.4375rem;
       margin-top: 0rem;
   }
   
   .members,
   .subject {
       padding-top: 80px;
       background-color: rgb(255, 255, 255);
       width: 100%;
       padding-bottom: 40px;
   }
   
   .teacher,
   .hots {
       margin-top: 20px;
       width: 100%;
       display: flex;
       justify-content: space-evenly;
       background-color: rgb(255, 255, 255);
       transform: translateY(0px);
       transition:0.5s;
      
   }
   .teacher_introduce{
    margin-top: 20px;
    position: relative;
   }
   .teacher_introduce h3{
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid black;
   }
   .teacher_introduce::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: -23px;
    border-top: 90px solid transparent;
    border-left: 144px solid #fff;
    border-right: 144px solid #fff;
    transform: translateY(-100%);
    


   }
   .teacher:hover, .hots:hover{
    transform: translateY(-50px);
   }
   
   .col img {
       width: 100%;
       height: 250px;
       object-fit: cover;
   }
   
   .col:hover {
       opacity: 2;
   }
   
   .col {
       width: 20%;
       background-color: rgb(255, 255, 255);
       box-shadow: 5px 5px 5px rgb(14, 13, 13);
       border-radius: 10px;
   }
   
   .col:nth-child(odd) {
       position: relative;
       bottom: 80px;
   }
   
   @media screen and (max-width:1199px) {
    .teacher_introduce::before{
        display: none;
    
    
       }
       .members,
       .subject {
           width: 80%;
           margin: auto;
       }
       .teacher,
       .hots {
           flex-wrap: wrap;
       }
       .col {
           display: flex;
           width: 100%;
           margin-bottom: 30px;
       }
       .col img {
           width: 100px;
           height: 100px;
       }
       .col:nth-child(odd) {
           position: static;
       }
       .teacher_photo,
       .lesson_photo {
           margin-right: 20px;
       }
   }
   
   @media screen and (max-width:767px) {
   
       .members,
       .subject {
           width: 80%;
           margin: auto;
       }
       .teacher,
       .hots {
           flex-wrap: wrap;
       }
       .col {
           display: flex;
           width: 100%;
           margin-bottom: 30px;
       }
       .col img {
           width: 100px;
           height: 100px;
       }
       .col:nth-child(odd) {
           position: static;
       }
       .teacher_photo,
       .lesson_photo {
           margin-right: 20px;
       }
   }
   
   .personal {
       padding-top: 80px;
       width: 100%;
       background-color: rgb(255, 255, 255);
       padding-bottom: 50px;
   }
   
   .personal-section {
       display: flex;
   }
   
   .personal-feautre {
       display: flex;
       width: 50%;
       justify-content: space-evenly;
       align-items: center;
       flex-wrap: wrap;
   }
   
   .analysis {
       text-align: center;
       width: 30%;
       margin-bottom: 20px;
   }
   
   button {
       color: black;
       border-radius: 6px;
       font-size: 24px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .personal-picture{
    position: relative;
   }
   .personal-picture::after{
    content: '';
    border-top: 130px solid #2b98eb;
    border-right: 130px solid #2b98eb;
    position: absolute;
    right: -31px;
    top: -35px;
    border-radius: 13%;
    z-index: -1;
    }
 
   @media screen and (max-width:1199px) {
       .personal-feautre {
           width: 100%;
           margin-bottom: 40px;
       }
       .personal-picture {
           width: 100%;
           display: flex;
           justify-content: center;
       }
       .personal-picture img {
           width: 70%;
       }
       .personal-section {
           flex-wrap: wrap;
       }
   }
   
   .footer_meun {
       margin-right: 80px;
       margin-bottom: 30px;
       box-shadow: 8px 8px 2px rgb(253 151 83 / 91%), -8px -8px 2px rgb(37 212 212 / 89%);
       padding: 10px;
   }
   
   .footer_meun a {
       text-decoration: none;
       color: black;
   }
   
   .footer {
       padding-top: 30px;
       display: flex;
       width: 100%;
       background-color: rgb(255, 255, 255);
       justify-content: center;
   }
   
   .address {
       background-color: (113, 227, 255);
       align-items: center;
       font-size: 24px;
       box-shadow: 8px 8px 2px rgb(253 151 83 / 91%), -8px -8px 2px rgb(37 212 212 / 89%);
       height: 100px;
       padding: 10px;
   }
   
   .media {
       display: flex;
       width: 130px;
       margin-left: 70px;
       font-size: 24px;
       margin-bottom: 80px;
       padding: 10px;
       box-shadow: 8px 8px 2px rgb(253 151 83 / 91%), -8px -8px 2px rgb(37 212 212 / 89%);
   }
   
   @media screen and (max-width:1199px) {
       .media {
           display: none;
       }
       .footer_meun {
           display: none;
       }
       .address {
           font-size: 18px;
           height: 70px;
           padding: 5px;
       }
       .end {
           padding-bottom: 20px;
       }
   }
   
   .main_lesson {
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       background-color: rgb(255, 255, 255);
   }
   
   .chinese,
   .english,
   .math {
       display: flex;
       background-color: rgb(255, 255, 255);
       margin: 20px;
   }
   
   .english {
       position: relative;
       left: 80px;
   }
   
   .subject-info {
       margin: 10px;
   }
   
   .english,
   .chinese,
   .math {
       width: 70%;
   }
   
   .main_lesson {
       align-items: center;
   }
   
   @media screen and (max-width:991px) {
       .chinese,
       .english,
       .math {
           width: 100%;
           flex-direction: column;
           align-items: center;
       }
       .english {
           position: static;
       }
   }
   
   .spot {
       text-align: center;
       margin: 15px;
       font-size: 28px;
       position: relative;
       bottom: 30px;
       font-style: italic;
   }
   
   .slogan {
       width: 100%;
   }
   
   .slogan img {
       width: 100%;
       vertical-align: middle;
   }
   
   .col {
       padding: 30px;
   }
   
   .indiviual {
       padding-top: 40px;
       padding-bottom: 40px;
       display: flex;
       width: 100%;
       justify-content: center;
   }
   
   .indiviual img {
       width: 60%;
   }
   
   .card-photo img {
       border-radius: 50%;
   }
   
   .indiviaul-section {
       padding-top: 30px;
       display: flex;
       width: 100%;
       justify-content: space-evenly;
   }
   
   .card-text {
       margin-top: 10px;
       text-align: center;
   }
   
   .indiviaul-feature {
       box-shadow: 8px 8px 2px rgb(253 151 83 / 91%), -8px -8px 2px rgb(37 212 212 / 89%);
       max-width: 380px;
       width: 60%;
       margin: 0 auto;
       text-align: center;
   }
   
   .infro {
       margin-bottom: 30px;
       margin-top: 50px;
       width: 100%;
   }
   
   .target {
    margin-top: 40px;

       margin-bottom: 60px;
   }
   
   .target-case {
       display: flex;
       justify-content: space-evenly;
       margin-top: 60px;
   }
   
   .gifted,
   .slow {
       width: 20%;
       position: relative;
       border: 4px solid rgb(255, 115, 0);
       border-radius: 5px;
       padding: 10px;
   }
   
   .gifted-tag,
   .slow-tag {
       position: absolute;
       top: -20px;
       left: -40px;
       background-color: rgb(113, 227, 255);
       font-size: 28px;
       border: 4px solid rgb(255, 115, 0);
   }
   
   .gifted-photo img,
   .slow-photo img {
       width: 100%;
   }
   
   @media screen and (max-width:1199px) {
       .gifted,
       .slow {
           width: 30%;
       }
   }
   
   @media screen and (max-width:995px) {
       .gifted,
       .slow {
           width: 35%;
       }
       .indiviual img {
           width: 70%;
       }
   }
   
   @media screen and (max-width:765px) {
       .gifted,
       .slow {
           width: 40%;
       }
       .indiviual img {
           width: 80%;
       }
   }
   
   @media screen and (max-width:575px) {
       .card-photo img {
           width: 60%;
       }
       .card-photo {
           text-align: center;
       }
       .gifted,
       .slow {
           width: 45%;
       }
       .indiviual img {
           width: 90%;
       }
   }
   
   .fee {
       padding-bottom: 50px;
       width: 100%;
       margin: 0 auto;
   }
   
   .flag {
       width: 120px;
       height: 120px;
       text-align: center;
       line-height: 120px;
       position: relative;
       background-color: #fa0;
       color: #fFF;
   }
   
   .flag::after {
       content: '';
       position: absolute;
       left: 0;
       top: 100%;
       width: 0;
       height: 0;
       border-left: 60px solid #fa0;
       border-right: 60px solid #fa0;
       border-bottom: 30px solid #0000;
   }
   
   .fee-section,
   .fee_onsale {
       display: flex;
       justify-content: space-evenly;
       margin-top: 40px;
       width: 100%;
   }
   
   .plan,
   .onsale {
       border: 4px solid rgb(231, 98, 9);
       text-align: center;
   }
   
   .plan-title,
   .onsale_title {
       padding: 20px;
       background-color: rgb(113, 227, 255);
   }
   
   .plan-text,
   .onsale_text {
       padding: 20px;
       border-top: 4px solid rgb(231, 98, 9);
   }
   
   .reserve {
       text-align: center;
       margin-top: 60px;
   }
   
   .reserve-section {
       display: flex;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }
   
   .reserve-input {
       display: flex;
       justify-content: center;
       border: 3px solid rgb(250, 108, 14);
       box-sizing: border-box;
       width:75%;
       margin-top:15px;
      
   }
   .reserve-input table{
    width:100%;
    height:50vh;
   }
   .reserve-input table td{
    font-size: 24px;
    font-weight: 700;
   }
   .reserve-input table input{
    text-align: center;
    border-radius: 200px;
    font-size:24px;
   }
   .reserve-input table select{
    font-size:24px;

   }
   #btnSend{
    padding: 8px;
    background-color: transparent;
   }
   
   @media screen and (max-width:765px) {
       .reserve-input {
           width: 80%;
       }
       .reserve-input table td{
        font-size: 18px;
   }
   .reserve-input table input{
    font-size:18px;
   }
   .reserve-input table select{
    font-size:18px;

   }
         
}
@media screen and (max-width:368px) {
    
    .reserve-input table td{
     font-size: 12px;
}
.reserve-input table input{
 font-size:12px;
}
.reserve-input table select{
 font-size:12px;

}
      
}
   

   
   
   
   .why_title,
   .prepare_title,
   .experience_title {
       box-shadow: 8px 8px 2px rgb(253 151 83 / 91%), -8px -8px 2px rgb(37 212 212 / 89%);
       width: 30%;
   }
   
   .why,
   .prepare,
   .experience {
       margin-top: 40px;
   }
   
   .why_section,
   .prepare_section,
   .experience_section {
       display: flex;
       margin: 20px;
   }
   
   .why_text,
   .prepare_text,
   .experience_text {
       margin: 10px;
       width: 400px;
       margin-left: 40px;
   }
   
   .toeic {
       width: 60%;
       margin: 0 auto;
   }
   
   .why,
   .experience {
       position: relative;
       left: 120px;
   }
   
   .prepare_section {
       flex-flow: row-reverse;
   }
   
   @media screen and (max-width:1199px) {
       .why_section,
       .prepare_section,
       .experience_section {
           flex-direction: column;
           flex-wrap: wrap;
           width: 100%;
       }
       .why_photo,
       .prepare_section,
       .experience_section {
           width: 100%;
       }
       .why,
       .experience {
           position: static;
       }
       .why_text,
       .prepare_text,
       .experience_text {
           margin: 10px;
           width: 80%;
           margin-left: 0;
           justify-content: left;
       }
       .toeic {
           width: 100%;
       }
       .why_title,
       .prepare_title,
       .experience_title {
           margin-left: 20px;
       }
   }
   
   .plan,
   .onsale {
       border-radius: 50%;
       overflow: hidden;
   }
   
   .timetable_title {
       text-align: center;
   }
   
   td:nth-child(odd) {
       background-color: rgb(113, 227, 255);
   }
   
   td:nth-child(even) {
       background-color: rgb(249, 246, 246);
   }
   
   .timetable_text {
       display: flex;
       justify-content: center;
       margin-top: 30px;
       margin-bottom: 40px;
   }
   
   .timetable {
       position: relative;
   }
   
   #theDiv {
       border: 1px solid #ccc;
       color: #fff;
       padding: 5px;
       background-color: rgb(250, 190, 87);
       position: absolute;
       display: none;
       width: 200px;
       font-size: 30px;
   }
   
   .textHover {
       cursor: pointer;
   }
   
   .classtable {
       /* border-collapse: separate; */
       /* border: 8px solid rgb(20, 154, 243); */
       border-radius: 50px;
       padding: 12px;
       overflow: hidden;
       box-sizing: border-box;
       border-style: none;
   }
   .classtable th:first-child{
    border-radius: 30px 0 0 0;
    
}
.classtable th:last-child{
    border-radius: 0 30px  0 0;
}
.classtable th{
    background-color: #35F;
    color:#fff;
}
.classtable tr:last-child td:first-child{
    border-radius: 0  0 0 30px;

}
.classtable tr:last-child td:last-child{
    border-radius: 0  0  30px 0 ;

}
   
 
   
   .recommend,
   .more {
       display: flex;
       justify-content: center;
       margin-bottom: 40px;
   }
   
   .feedback_student {
       justify-content: center;
       display: flex;
       flex-wrap: wrap;
       margin-bottom: 40px;
   }
   
   .feedback_title {
       display: flex;
       justify-content: center;
       margin: 40px;
   }
   
   .improving,
   .first_place {
       display: flex;
       margin: 40px;
       justify-content: center;
   }
   
   .improving_title,
   .first_place_title {
       margin: 10px;
   }
   
   .improving_case,
   .first_place_case {
       display: flex;
       width: 30%;
       border: 3px solid rgb(243, 124, 12);
       margin: 10px;
   }
   
   @media screen and (max-width:991px) {
       .improving,
       .first_place {
           flex-wrap: wrap;
       }
       .improving_case,
       .first_place_case {
           width: 100%;
       }
   }
   
   @media screen and (max-width:765px) {
       .improving,
       .first_place {
           flex-direction: column;
       }
   }
   
   .onestory {
       background-image: linear-gradient(to bottom right, white 50%, #00a9b8 50%, #00a9b8 100%);
   }
   
   .education {
       background-image: linear-gradient(to bottom left, white 50%, #bfe3e7 50%, #00a9b8 100%);
   }
   
   .place {
       background-image: linear-gradient(to bottom right, white 50%, #bfe3e7 50%, #bfe3e7 100%);
       margin-bottom: 20px;
   }
   
   .story_section,
   .education_section,
   .place_section {
       display: flex;
       justify-content: space-evenly;
       width: 100%;
   }
   
   .story_title,
   .education_title,
   .place_title {
       text-align: center;
       padding: 20px;
   }
   
   .story_text,
   .education_text,
   .place_text {
       width: 30%;
       background-color: rgb(243, 247, 247);
       height: 100%;
       padding: 20px;
   }
   
   .story_photo,
   .education_photo,
   .place_photo {
       margin-bottom: 20px;
       width: 30%;
   }
   
   .story_photo img,
   .education_photo img,
   .place_photo img {
       width: 100%;
   }
   
   .tab-menu ul li {
       display: flex;
       width: 100%;
       text-align: center;
       cursor: pointer;
       margin: 10px;
   }
   
   .tab-menu ul li.active {
       background: #749dcf;
   }
   
   .tab-con {
       width: 20%;
   }
   
   .tab-con div {
       width: 100%;
       height: 200px;
       background: #F2F2F2;
       border: 3px solid aqua;
       ;
       display: none;
       padding: 15px;
   }
   
   .tab-con div:first-child {
       display: block;
   }
   
   @media screen and (max-width:765px) {
       .story_section,
       .education_section,
       .place,
       section {
           flex-direction: column;
       }
       .story_text,
       .education_text,
       .place_text {
           width: 80%;
       }
       .story_photo,
       .education_photo,
       .place_photo {
           width: 40%;
           overflow: hidden;
       }
       .story_photo img,
       .education_photo img,
       .place_photo img {
           width: 100%;
       }
       .tab-con div {
           height: 350px;
       }
       .place_section {
           position: relative;
       }
       .place_photo {
           position: absolute;
           left: 40px;
           bottom: 20px
       }
   }
   
   #wrapper {
       
       width: 100%;
       display: flex;
       justify-content: center;
       background-color:rgb(195 231 247);
       align-items: center;
   }
   
   #nav {
       width: 23%;
       margin-left: 30px;
       margin: 0 auto;
       text-align: center;
   }
   
   #nav li {
       list-style: none;
   }
   
   .main {
       width: 100%;
       line-height: 60px;
       background-color: #3FC6F3;
       border-right: 10px solid #0D9BE5;
       cursor: pointer;
       font-size: 24px;
       padding-left: 10px;
   }
   
   ul.subs li {
       display: block;
       height: 40px;
       line-height: 40px;
       text-indent: 25px;
       background-color: #F5F5F5;
       font-size: 16px;
       color: #164158;
       cursor: pointer;
       box-sizing: border-box;
       width: 100%;
   }
   
   .introduce {
       width: 100%;
       height: 100%;
   }
   
   .introduce div {
       background: #F2F2F2;
       border: 3px solid #2b98eb;
       display: none;
       padding: 15px;
       margin-left: 20px;
       border-radius: 10px;
       overflow: hidden;
       text-align: center;
       margin: 0 auto;
       position: relative;
       overflow: hidden;
   }
   .introduce div h1{
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 180px;
    padding-left: 15px;
    color:rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    top: 65px;
    line-height: 1.1em;
    
}
   .introduce div img{
    margin: auto;
   }
   .introduce div p{
    width: 100%;
    margin: 15px auto;
    line-height: 1.5;

   }
   .grade_subject p ::before{
    content:'';
    border-top:1px solid black;
   }
   .grade_subject{
    width: 30%;
    margin: 0 auto;
   }

   
   .introduce :nth-child(2) {
       display: block;
       
   }
   
   div.rollover {
       background-color: #2c2cf2;
   }
   
   .subs li.pre {
       background-color: #5757f5;
   }
   
   @media screen and (max-width:765px) {
       .main {
           width: 100%
       }
       .introduce {
           width: 80%
       }
       #nav {
           margin-left: 0px;
       }
       .introduce div {
           width: 50%
       }
   }
   
   .student {
       display: flex;
       justify-content: space-evenly;
       margin-bottom: 140px;
   }
   
   .flip-card {
       background-color: transparent;
       width: 300px;
       height: 200px;
       border: 1px solid #f1f1f1;
       perspective: 1000px;
   }
   
   .flip-card-inner {
       position: relative;
       width: 100%;
       height: 100%;
       text-align: center;
       transition: transform 0.8s;
       transform-style: preserve-3d;
   }
   
   .flip-card:hover .flip-card-inner {
       transform: rotateY(180deg);
   }
   
   .flip-card-front,
   .flip-card-back {
       position: absolute;
       width: 100%;
       height: 100%;
       backface-visibility: hidden;
   }
   
   .flip-card-back {
       display: flex;
       align-items: center;
   }
   
   .flip-card-front {
      
       color: black;
   }
   
   .flip-card-back {
       background-color: dodgerblue;
       color: white;
       transform: rotateY(180deg);
   }
   
   .student_title {
       display: flex;
       justify-content: center;
       margin-bottom: 30px;
   }
   
   .junior_teachers .owl-carousel .item {
       border-radius: 50%;
       height: 250px;
       overflow: hidden;
       text-align: center;
   }
   
   .senior_teachers .owl-carousel .item {
       border-radius: 50%;
       text-align: center;
       height: 250px;
       overflow: hidden;
   }
   
   .teachers {
       margin-bottom: 30px;
       background-color: #3FC6F3;
   }
   
   @media screen and (max-width: 575px) {
       .student {
           flex-direction: column;
           align-items: center;
       }
       .flip-card {
           width: 80%;
           margin-top: 20px;
       }
   }
   .bt-personal button{
    padding: 5px;
    color: black;
    background-color: transparent;
    border: 2px solid #2b98eb;
    position: relative;
    overflow: hidden;
   }
   .bt-personal button::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 8px;
    background-color: #03a9f4;
    z-index: -1;
   }
   .bt-personal button:hover::before{
    background-color: #03a9f4;
    animation: loadingWave 2s linear ;
   }
   @keyframes loadingWave{
    0%{
        clip-path: polygon(44% 90%, 100% 85%, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 78%);

    }
    25%{
        clip-path: polygon(59% 72%, 100% 69%, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 75%);

    }
    50%{
        clip-path: polygon(59% 58%, 100% 69%, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 49%);

    }
    75%{
        clip-path: polygon(62% 23%, 100% 22%, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 49%);

    }
    100%{
        clip-path: polygon(62% 0, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 0);

    }

   }
   .banner{
    margin-top: 30px;
    width: 70%;
    height: 50vh;
    background-color: #2b98eb;
    background: linear-gradient(55deg,#7bf 50%,
    transparent 50%) center center / 100% 100%,
    url(./picture/h1.jpg) right center/ auto 100%;
   }
   .container{
    
   
    height:100%;
   
   }
   .banner-txt{
    font-family: 'Noto Sans TC', sans-serif;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left:10px;
    }
    .banner-txt h2{
        font-size: 40px;
        border-bottom:1px solid #333;
    }
    .banner-txt h2 small{
        display:block;
        font-size: 27px;
    }
    .banner-txt p{
        font-size: 18px;
    }
    .leader{
        width:100%;
        display: flex;
        justify-content: center;
        margin-bottom:20px;
    }
    .flip-card-front img{
        width:100%;
        overflow: hidden;
    }
    .main-footer{
        padding:150px 0 0;
        background: linear-gradient(-20deg,#3f5494,#08c7a5);
    }
    .main-footer .container{
        display:flex;
        width: 80%;
        margin: auto;
    }
    .footer-item{
        width: 0;
        flex-grow:1;
        margin:0 20px;
    }
    .footer-item h4{
        font-size: 24px;
        color:#fff;
        border-bottom: 1px dotted #fff;
        margin-bottom: .5em;
        padding-bottom: .5em;
    }
    .footer-item nav{
        display: flex;
        flex-direction: column;
    }
    .footer-item nav a{
        color: #fff;
        line-height: 1.4;
        text-decoration: none;
        padding:5px 0;
    }
    .footer-item nav a:hover{
        color:#fa0;

    }
    .copyright{
        width: 100%;
        text-align: center;
        margin: 150px 0 0;
        padding:10px 0px;
        background-color: #3e5293;
        color:#70f6df;
    }
    .footer-subs{
        display: flex;
        flex-direction: column;
    }
    .footer-subs form{
        display: flex;
        width: 100%;
        margin:auto 0;
    }
    .footer-subs input[type="text"],.footer-subs input[type="submit"]{
        border: none;
        padding:5px 10px;
    }
    .footer-subs input[type="text"]{
        width:0;
        flex-grow: 1;
    }
    .footer-subs input[type="submit"]{
        color:#70f6df;
        background-color: #3e5293;

    }
    .index-carousel .item{
        border: 5px black dotted ;
    }
    .index-carousel{
        background-color: black;
    }
    .main-meun{
        position: relative;
    }
    .main-meun::after{
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        height:0;
        bottom: -5px;
        border-bottom: 5px double black;
        transition: .3s;
        
    }
    .main-meun:hover::after{
        left: 0;
        right:0;
    }
    .student_recommand{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 100px auto;
        /* background-color: #999; */
        
    }
    .student_recommand .item{
        width: 30%;
        margin: 0 15px;
        text-align: center;
        border:10px solid #f9cec2;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 10px 20px 50px #f7b6a7;
    }
    .student_recommand .item h3{
        color:#f5afac;
    }
    .student_recommand .item p{
        color:#ccc;
    }
    .student_recommand .item .txt{
        padding: 20px 20px 2em;

    }
    @keyframes ss{
        0%{transform: rotate(-10deg);}
        100%{transform: rotate(10deg);}
    }
    .student_recommand .item .icon{
        font-size: 85px;
        width: 150px;
        height: 150px;
        background-color: #fff;
        margin:-75px auto 0;
        line-height: 150px;
        border-radius: 50%;
        color:#f5afac;
        position: relative;
    }
    .student_recommand .item .icon::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-top: 10px solid #f5afac;
        border-right: 10px solid #f5afac;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        left: -10px;
        top: -10px;
        border-radius: 50%;
        transform: rotate(-45deg);
    }
    .student_recommand .item:hover .fa{
        animation: ss .2s linear infinite alternate;
    }
    .student_recommand .student_photo{
       border: 10px solid #fff;
        width: 30%;
        border-radius: 200px 200px 0 0;
        overflow: hidden;
    }
    .student_recommand .student_photo img{
        width: 100%;
        vertical-align: middle;

    }
    h2{
        font-size: 36px;
    }
    .gifted,.slow{
        position: relative;
    }
    .gifted-text,.slow-text{
        

        position: absolute;
        top:50px;
        left: 0;
        opacity: 0;
        transform: scale(0);
        transition: .5s;
        background-color: rgba(0,0,0,.6);
    }
    .gifted:hover .gifted-text,
    .slow:hover .slow-text{
        transform: scale(1);
        opacity: 1;
        color: #fff;

    }
    .recongnize p{
        line-height: 1.5;
        
    }
    .story_text :first-child::first-letter,.education_text :first-child::first-letter{
        font-size: 32px;
        float: left;
        padding-right: 2px;
        font-weight: 700;
    }
    .story_text p{
        position: relative;
    }
    .story_text :first-child::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border: 10px solid #CCC;
        left: -60px;
        top: -73px;
        transform: rotate(32deg);
        Z-INDEX: -1;
    }
    .story_text :first-child::after{
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border: 10px solid #fffaf0;
        left: -60px;
        top: -73px;
        transform: rotate(352deg);
        Z-INDEX: -1;
    }
    .education_text :first-child::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border: 10px solid #CCC;
        bottom: -54px;
        right: -50px;
        transform: rotate(32deg);
        Z-INDEX: -1;
    }
    .education_text :first-child::after{
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border: 10px solid #fffaf0;
        bottom: -54px;
    right: -50px;
        transform: rotate(352deg);
        Z-INDEX: -1;
    }
    .latest-events p{
        position: relative;
    }
    .latest-events p::after{
        content: '';
        border-bottom: 1px solid #000;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
    }
 
    
   
    

    